@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'marge';
    src: url('../app/fonts/MergeOne-Regular.ttf');
}

@font-face {
    font-family: 'npi';
    src: url('../app/fonts/NPIBITA.TTF');
}

@font-face {
    font-family: 'npib';
    src: url('../app/fonts/NPIBITABOLD.TTF');
}