@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'marge';
    src: url('../../public/fonts/MergeOne-Regular.ttf');
}

@font-face {
    font-family: 'npi';
    src: url('../../public/fonts/NPIBITA.TTF');
}

@font-face {
    font-family: 'npib';
    src: url('../../public/fonts/NPIBITABOLD.TTF');
}

.nipb {
    font-family: 'npib';
}
.nip {
    font-family: 'npi';
}
.merge {
    font-family: 'merge';
}